.cart
  margin-bottom: 9em

.cart-items div
  display: grid
  grid-template-columns: 1fr 3fr
  margin: 1em auto
  width: 50%
  padding: 0

  img
    width: 100px
    height: 100px
    border-radius: 50%
    margin-left: 40%
    align-self: center

  div
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    line-height: 10px
    font-size: 1.6em
    padding: 0

    em
      &:hover
        cursor: pointer
        text-decoration: underline

.cart-checkout 
  display: flex
  flex-direction: column
  align-items: center
  border-top: 2px solid black
  width: 50%
  margin: 0 auto

#empty-cart
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0 auto
  width: 50%

  img
    height: 15em