@use "sass:map"

$colors: ("primary": #515a7e, "secondary": #C1ADEB, "accent": #471DB1)
  
.Header
  position: fixed
  width: 100%
  padding: 50px 0
  z-index: 100
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)

  a
    color: white
    font-weight: 700
  
  button
    padding: 8px 20px
    font-size: 20px
    backgroung: white
    color: map.get($colors, "accent")
    border: none
    font-weight: 600
    border-radius: 10px
    outline: none
    cursor: pointer
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1)
    &:hover
      background:#471DB1
      color: white
      box-shadow: 0 10px 20px rgba(245, 245, 245, 0.906)
      transform: translateY(-3px)

  @media (max-width: 640px)
      padding: 15px 0

      a:nth-child(1)
        display: none

      a:nth-child(2)
        display: none

.HeaderScrolled
  background: rgba(0,0,0,0.8)
  padding: 15px 0
  backdrop-filter: blur(20px)

.HeaderGroup
  max-width: 100%
  margin: 0 auto
  display: grid
  grid-template-columns: repeat(2, auto)
  align-items: center
  justify-items: center

  .logo 
  .nav-links
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(4, auto)
    gap: 3em
    align-items: center
    justify-items: center
    a
      padding-bottom: 8px
      border-bottom: 3px solid transparent
      &:hover
        border-color: white

#badge
  padding-left: 5px
  padding-right: 5px
  border-radius: 10px
  font-size: .7em
  background-color: white
  color: #471DB1
  vertical-align: top
  // @media (max-width: 640px)
