@mixin black-button($font-size)
  font-size: $font-size
  font-weight: 600
  color: white
  text-transform: uppercase
  background: rgba(0, 0, 0, 0.9)
  padding: 10px 25px
  margin: 1em 20px 1em 0px
  border: 1px solid rgba(255, 255, 255, 0.25)
  border-radius: 20px
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
  &:hover
    background: #471DB1
    transform: scale(1.1, 1.1)
    box-shadow: 0 5px 10px rgba(0,0,0,0.5)

@mixin reg-btn($font-size)
  font-size: $font-size
  font-weight: 100
  padding: 10px 20px
  background-color: transparent
  color: black
  font-style: italic
  border: 2px solid transparent
  &:hover
    cursor: pointer
    border-bottom: 2px solid black


h2
  font-size: 60px
  text-align: center
  font-weight: 700
  background: linear-gradient(104deg, #C1ADEB 0%,  #250d60 100%)
  -webkit-background-clip: text
  background-clip: text
  -webkit-text-fill-color: transparent
  margin: 0

.details
  display: grid
  grid-template-columns: 1fr 1fr
  margin: 0 auto 5em
  align-self: center

#left
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  img
    width: 70%
    margin-bottom: 2em
    border-radius: 0px 100px
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25)

  em
    font-size: 1.2em
    &:hover
      text-decoration: underline
      cursor: pointer

#first-btn
  @include black-button(20px)

#first-btn-small
  @include black-button(15px)

#second-btn   
  @include reg-btn(25px)

#second-btn-small   
  @include reg-btn(20px)

#right
  display: flex
  flex-direction: column
  align-items: start
  justify-content: start
  width: 80%
  p
    font-size: 1.5em

  em
    font-size: larger
    &:hover
      text-decoration: underline
      cursor: pointer

  div
    display: flex
    justify-content: space-between
    width: 100%
    align-items: center

.review-group
  display: flex
  flex-direction: column
  margin: 3em

.review
  display: grid
  grid-template-columns: 1fr 5fr
  background-color: white
  width: 50%
  margin: 0 auto 2rem
  border-bottom: 2px solid black
  border-top: 2px solid black
  border-radius: 63px/21px
  line-height: 2px

  img
    width: 80px
    height: 80px
    border-radius: 50%
    margin: 1em 20px 0px 30px

#comment
  margin: 2em 0px 2em 0px
  align-self: center

#review-btns
  display: flex
  justify-content: start
  align-items: center

  button
   @include black-button(15px)

.no-show
  display: none

form
  width: 90%

form fieldset
  display: flex
  flex-direction: column
  width: 100%
  padding: 2em
  border-radius: 20px

  legend
    font-size: 2em
    font-weight: 500
    color:#471DB1

  label
    display: flex
    flex-direction: column
  em
    text-align: center

  input, textarea
    margin: 0 0 20px 0
    font-size: 1em
  
#edit-form
  display: flex
  flex-direction: column
  align-items: start
  
  label
    display: flex
    width: 90%
    
  input, textarea
    margin: 0 0 10px 0
    font-size: 1rem
    width: 100%

#edit-btn
  padding: 10px